<div class="container">
  <div class="row">
    <div class="col-md-6 list">
      <table class="table">
        <tbody>
          <tr
            (click)="onViewLesson(i, lesson)"
            *ngFor="let lesson of lessons; let i = index"
            class="subject"
          >
            <td>
              <div class="lesson-name">{{ lesson.name }}</div>
              <svg
                class="bi bi-arrow-right-circle-fill svg-arrow"
                width="2em"
                height="2em"
                viewBox="0 0 16 16"
                fill="#1E907A"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-8.354 2.646a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L9.793 7.5H5a.5.5 0 0 0 0 1h4.793l-2.147 2.146z"
                />
              </svg>
            </td>
          </tr>
        </tbody>
      </table>
      <hr />

      <form [formGroup]="addForm" (ngSubmit)="onAdd()">
        <div class="label">Subject:</div>
        <input type="text" formControlName="subject" />

        <span
          class="invalid-t"
          *ngIf="
            !addForm.get('subject').valid && addForm.get('subject').touched
          "
          >Subject must be at least 4 characters</span
        >

        <div class="label">Hours:</div>
        <input type="text" formControlName="hour" />

        <button class="submit-btn">Add</button>
      </form>
    </div>
    <div class="col-md-6">
      <app-form
        [subject]="selectedLesson"
        (changeStatus)="onChangeStatus($event)"
        [currentLessonIndex]="currentLessonIndex"
        [appStatus]="appStatus"
      >
      </app-form>
    </div>
  </div>
</div>
